eo-parser/src/main/resources/XMIR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
The MIT License (MIT)

Copyright (c) 2016-2024 Objectionary.com

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="SNAPSHOT" elementFormDefault="qualified">
  <xs:annotation>
    <xs:appinfo>XML schema for XMIR documents</xs:appinfo>
    <xs:documentation>
      Every XMIR document is essentially an XML document that
      contains objects found in a EOLANG program together with
      supplementary information, such as metas, license, and so on.
    </xs:documentation>
  </xs:annotation>
  <xs:simpleType name="whole">
    <xs:annotation>
      <xs:appinfo>Whole number</xs:appinfo>
      <xs:documentation>
        Whole numbers, include zero.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="non-empty">
    <xs:annotation>
      <xs:appinfo>A non-empty string</xs:appinfo>
      <xs:documentation>
        The value that is not empty (contains at least one character).
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="empty">
    <xs:annotation>
      <xs:appinfo>Just empty string</xs:appinfo>
      <xs:documentation>
        Empty string, to be used in attributes.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="o" mixed="true">
    <xs:sequence>
      <xs:element name="o" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="line" type="whole">
      <xs:annotation>
        <xs:appinfo>The line of code where the object has been seen</xs:appinfo>
        <xs:documentation>
          The attribute contains the number of code line (starting from 1),
          where the object has been met during the scanning of the source code.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="pos" type="whole">
      <xs:annotation>
        <xs:appinfo>The position in the code line where the object has been seen</xs:appinfo>
        <xs:documentation>
          The attribute contains the position in the code line (starting from 1),
          where the object has been met during the scanning of the source code.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="non-empty"/>
    <xs:attribute name="base" type="non-empty"/>
    <xs:attribute name="star" type="empty"/>
    <xs:attribute name="as" type="non-empty"/>
    <xs:attribute name="atom" type="non-empty"/>
    <xs:attribute name="loc" type="non-empty"/>
    <xs:attribute name="abstract" type="empty"/>
    <xs:attribute name="method" type="empty"/>
    <xs:attribute name="const" type="empty"/>
  </xs:complexType>
  <xs:complexType name="error">
    <xs:annotation>
      <xs:appinfo>The error found in the program</xs:appinfo>
      <xs:documentation>
        The element explains what kind of problem is found
        in the program, where exactly, and what is the severity
        of it.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="non-empty">
        <xs:attribute name="check">
          <xs:annotation>
            <xs:appinfo>The name of the checker that found the error</xs:appinfo>
            <xs:documentation>
              The element contains the name of the style checker or
              any other submodule that found the error in the program.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="line" type="whole">
          <xs:annotation>
            <xs:appinfo>The number of the line of code where the error was found</xs:appinfo>
            <xs:documentation>
              The element contains the number of the code line (starting from 1),
              where the error was found. If the element is omitted, the problem
              is related to the entire program, not to any particular line in it.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="severity" use="required">
          <xs:annotation>
            <xs:appinfo>The severity of the error</xs:appinfo>
            <xs:documentation>
              The element contains the severity of the error, thus providing
              advice to the processor of the document on whether the error
              may be ignored (when it is a "warning") or the processing must
              stop immediately (when it is a "critical").
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="critical"/>
              <xs:enumeration value="error"/>
              <xs:enumeration value="warning"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="comment">
    <xs:annotation>
      <xs:appinfo>The comment found attached to an object</xs:appinfo>
      <xs:documentation>
        Comments may be attached to objects in EO programs, but only to
        the highest-level formations.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="non-empty">
        <xs:attribute name="line" use="required" type="whole"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="listing">
    <xs:annotation>
      <xs:appinfo>The entire listing of the source code program, in EO</xs:appinfo>
      <xs:documentation>
        The element contains the entire listing of the source code program,
        in EO language, as it was seen by the scanner. This element doesn't
        have any structure and may be omitted. However, it is recommended to
        provide the listing in order to simplify debugging and enable
        traceability.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="non-empty"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="license">
    <xs:annotation>
      <xs:appinfo>The entire license found in the source code</xs:appinfo>
      <xs:documentation>
        The element contains the entire text of the license
        found in the source code.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="non-empty"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="sheet">
    <xs:annotation>
      <xs:appinfo>The XSL stylesheet that was applied to the XMIR</xs:appinfo>
      <xs:documentation>
        The element contains information about XSL stylesheet
        that was applied to the XMIR during its optimization
        and/or transformation.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="non-empty"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="meta">
    <xs:annotation>
      <xs:appinfo>The meta found in the source code</xs:appinfo>
      <xs:documentation>
        The element contains information about a meta found
        in the source code, before all objects.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="head">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]+[a-z0-9]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tail" type="xs:string"/>
      <xs:element name="part" minOccurs="0" maxOccurs="unbounded" type="non-empty"/>
    </xs:sequence>
    <xs:attribute name="line" type="whole"/>
  </xs:complexType>
  <xs:complexType name="program">
    <xs:all>
      <xs:element name="listing" type="listing" minOccurs="0"/>
      <xs:element name="comments" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>The list of comments found in the source code</xs:appinfo>
          <xs:documentation>
            The element may contain a collection of comments
            found in the source code attached to the highest-level
            EO formations.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="comment" maxOccurs="unbounded" type="comment"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="errors" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>The list of errors already detected in the program</xs:appinfo>
          <xs:documentation>
            The errors element may contain a collection of error elements that have already been identified in the
            program. These errors can be detected by the EO parser or any other additional analyzers, such as style
            checkers or linters. As the XMIR document undergoes various optimization or transformation pipelines, the
            list of errors may expand. It is up to the consumers of the XMIR document to decide whether to address these
            errors or to ignore them and continue processing. Each error element provides detailed information about the
            nature of the error, including its severity, the line of code where it was found, and the specific checker
            that identified it. This information is crucial for debugging and ensuring the quality of the EO program.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="error" maxOccurs="unbounded" type="error"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sheets" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>The list of XSL stylesheets that were applied to the XMIR</xs:appinfo>
          <xs:documentation>
            The element may contain a collection of XSL stylesheets
            (their names) that were applied to the XMIR during its
            optimization or any other transformations. This element
            exists mostly for debugging purposes.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sheet" type="sheet" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="license" type="license" minOccurs="0"/>
      <xs:element name="metas" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="meta" maxOccurs="unbounded" type="meta"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="objects">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="o" type="o" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="non-empty" use="required"/>
    <xs:attribute name="ms" type="whole">
      <xs:annotation>
        <xs:appinfo>The amount of milliseconds that were spent on creating this document</xs:appinfo>
        <xs:documentation>
          The element contains a positive integer, which is the number of milliseconds
          that were spent by the parser to generate this document. This information
          is valuable for debugging purposes and may be omitted in production systems.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="time" type="xs:dateTime">
      <xs:annotation>
        <xs:appinfo>The date and time when the document was created</xs:appinfo>
        <xs:documentation>
          The element contains the date and time of the moment when the
          document was generated by the parser. This information
          is valuable for debugging purposes and may be omitted in production systems.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="version" type="non-empty">
      <xs:annotation>
        <xs:appinfo>The version of the parser that created the document</xs:appinfo>
        <xs:documentation>
          The element contains the version of the parser that created
          the document, preferably in SemVer format. This information
          is valuable for debugging purposes and may be omitted in production systems.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="revision" type="non-empty">
      <xs:annotation>
        <xs:appinfo>The Git SHA of the release of the parser that created the document</xs:appinfo>
        <xs:documentation>
          The element contains the Git SHA of the release of the parser that created
          the document. This information
          is valuable for debugging purposes and may be omitted in production systems.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dob" type="xs:dateTime">
      <xs:annotation>
        <xs:appinfo>The date-of-birth of the parser that created the document</xs:appinfo>
        <xs:documentation>
          The element contains the date and time of the release of the parser
          that created the document. This information
          is valuable for debugging purposes and may be omitted in production systems.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="source" type="non-empty">
      <xs:annotation>
        <xs:appinfo>The absolute path of the source file that was parsed</xs:appinfo>
        <xs:documentation>
          The element contains the absolute file path of the source EO file
          that was parsed in order to generate the XMIR document. This information
          is valuable for debugging purposes and may be omitted in production systems.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="program" type="program"/>
</xs:schema>
